<div class="modal--add__wrapper">
    <p class="error--message">{{ error }}</p>
    <p>Add a user</p>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" value="" [(ngModel)]="user.name">
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" value="" [(ngModel)]="user.password">
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email"  value="" [(ngModel)]="user.email">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="user.role">
            <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button mat-flat-button class="button--action button--action__confirm" type="button" (click)="confirmUserAdd()" matTooltip="Yes" color="primary">
        Confirm
    </button>
</div>