
<div class="table">
    <h1>Users :</h1>
    <button class="table--button__add" mat-raised-button color="primary" (click)="openAddDialog()" >Ajouter</button>
    <table mat-table [dataSource]="users" class="mat-elevation-z8" *ngIf="updated">
        <!-- Name Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-mini-fab class="button--action button--action__edit" (click)="openShowDialog(element)" matTooltip="Show" color="primary">
                    <i class="material-icons">remove_red_eye</i>
                </button>
                <button mat-mini-fab class="button--action button--action__add" (click)="openEditDialog(element)" matTooltip="Edit" color="accent">
                    <i class="material-icons">edit</i>
                </button>
                <button mat-mini-fab class="button--action button--action__add" (click)="openDeleteDialog(element)" matTooltip="Delete" color="warn">
                    <i class="material-icons">delete</i>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>