.button--action{
    margin: 0 5px;
}
.input--com{
    &__select{
        background-color: #FDD;
        height: 50px;
        max-width: 300px;
        width: 100%;
        border-radius: 100px;
    }
}
.table {
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    table {
        width: 100%;
    }
    &--button__add{
        float: right;
        margin: 5px 0;
    }
}