<p>Do you really want to delete this user ?</p>
<div class="section--result__buttons">
    <button mat-mini-fab class="button--action button--action__add" (click)="confirmUserDelete()" matTooltip="Yes" color="primary">
        <i class="material-icons">check</i>
    </button>
    
    <button mat-mini-fab class="button--action button--action__add" (click)="cancelUserDelete()" matTooltip="No" color="warn">
        <i class="material-icons">close</i>
    </button>
</div>